accelerate
beautifulsoup4
diffusers
GoogleNews
gradio
matplotlib
millify
nltk
pandas_datareader
pillow
pip
plotly
pytz
replicate
requests
scipy
seaborn
sentencepiece
streamlit
streamlit_on_Hover_tabs
ta
torch
transformers
tqdm
tweepy
yahoo_fin
yfinance>=0.2.28
xlsxwriter
websockets==10.4
numpy==1.24.4
pandas==2.0.3
pandas_ta==0.3.14b0
 
